@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;

0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

header .left-header {
  display: flex;
  align-items: center;
}

header .left-header img {
  height: calc(100px - 25%);
  width: auto;
}

header .right-header nav ul {
  display: flex;
}

header .right-header nav ul li a {
  display: inline-block;
  height: 100px;
  line-height: 100px;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0 10px;
}

header .right-header nav ul li a:hover {
  background-color: rgba(2, 130, 249, 0.1);
  border-bottom: 5px solid #0282f9;
}

.active {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

.burger-menu {
  height: 100px;
  display: flex;
  align-items: center;
}

.burger-menu .fa-bars {
  width: 50px;
  height: 50px;
  color: #0282f9;
}

.burger-menu .fa-bars:hover {
  cursor: pointer;
}

